html{box-sizing:border-box; width:100%; height:100%; overflow: scroll; -ms-overflow-style: none;}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{ width:100%; height:100%; margin:0; overflow: scroll;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration: none;color:inherit;}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */



html,body {
    font-family:Verdana,sans-serif,"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU";
    font-size:15px;
    line-height:1.5;
   
}
html {
    max-width: 1200px; 
    margin:auto;
    overflow-x:hidden;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

.gradient {
    position:relative;
    border-radius: 2px;
    margin-top: 0;
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.1) 100% ),-moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.1) 100% );
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.1) 100% ),-webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.1) 100% );
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.1) 100% ),linear-gradient(to bottom, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.1) 100% ); 
}


img {
    margin-bottom:-5px
}
::-webkit-scrollbar { 
    display: none; 
}

.pagePadding {
    padding:32px 8%;
}
.divTopMargin {
    margin-top:32px;
    margin-bottom: 0;
}
.divSideMargin {
    margin-left:8px;
    margin-right:8px;
}

.textPadding {
    padding:20px;
}

.rowPadding:after{
    content:"";
    display:table;
    clear:both
}
.rowPadding {
    padding:0px 8px;
    margin-bottom:16px
}

.col {

    float:left;
    width:100%;
}

.navBar {
    border-radius: 3px;
    position:absolute;
    background: rgba(255, 255, 255, 0.95);
    color: #333132;
    top:20px;
    padding:8px;
    left: 30px;
    z-index:9;
    display:none;
}

.drawer {
    padding-top: 8px;
    padding-left:16px;
    padding-bottom: 8px;
    background-color:#7DB9DE;
}
.showitem {
    display:block;
}
.textcut {
    white-space: nowrap;
    overflow: hidden;
}

.container-display {
    position:relative;
}
.cover-image { 
    max-width:100%;
    height:auto;
}
.title-display {
    position:absolute;
    top:50%;
    left:65%;
    transform:translate(-50%,-65%);
    -ms-transform:translate(-50%,-65%);
    text-align:center;
    color:#FFE533;
}



ul {
	padding: 0;
}

li {
	list-style-type: none;
	position: relative;
	margin-top:5px;
}

.connections {   
    position:absolute;
    top:50%;
    right:0;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
}

.connections img{
    border-radius: 3px;
    width:30px;
    height:30px;
}

.blue {
    color:#7DB9DE;
}

.yellow {
    color:#FFE533;
}

.border-yellow {
    border:1px solid #FFE533;
    border-radius: 2px;
    padding:6px 16px;
    color:#FFE533;
}
.blue-back {
    white-space: normal;
    color:#fff;
    background-color:#7DB9DE;
}
.blue-back-transparent {
    position:absolute;
    left:0;
    top:0;
    background-color:#7DB9DE;
    opacity: 0.85;
    color:#fff;
    padding:8px 16px;
}
.yellow-back {
    white-space: normal;
    color:#333132;
    background-color:#FFE533;
    
}

div::after {
    content:"";
    display:table;
    clear:both;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
    font-family:Verdana,sans-serif,"微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU";
    font-weight:400;
    margin:5px 5px 0 0px;
    display: inline-block;
}
h1{font-size:36px; color:#FFF;}
h2{font-size:28px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:17px}
h6{font-size:14px}
h7{font-size:12px; color:#FFE533;}
h8{font-size:12px}

hr {border: 0;
    border-top: 1px solid #F1F1F1;
}

.halfBG {
    background-image: -webkit-gradient(linear,
    left top,
    right top,
    color-stop(0, #7DB9DE),
    color-stop(49.99999%, #7DB9DE),
    color-stop(50%, #FFE533),
    color-stop(100%, #FFE533)
	);
  background-image: -webkit-linear-gradient(
    left,
    #7DB9DE,
    #7DB9DE 49.99999%,
    #FFE533 50%,
    #FFE533 100%
	);
  background-image: -moz-linear-gradient(
    left,
    #7DB9DE,
    #7DB9DE 49.99999%,
    #FFE533 50%,
    #FFE533 100%
	);
  background-image: -ms-linear-gradient(
    left,
    #7DB9DE,
    #7DB9DE 49.99999%,
    #FFE533 50%,
    #FFE533 100%
	);
  background-image: -o-linear-gradient(
    left,
    #7DB9DE,
    #7DB9DE 49.99999%,
    #FFE533 50%,
    #FFE533 100%
	);
}


.CVBlue {
    padding-left: 20px;
}
.CVYellow {
    padding-right: 20px;
}

.CVtitleBlue {
    float:left;
    margin-right: 0;
    margin-bottom: -12px;
}

.CVdateBlue {
    font-size: 12px;
    color:#E6E7E8;
    margin-bottom: -12px;
}
.CVsubtitleBlue {
    font-size: 12px;
    color:#333132;
}

.CVtitleYellow {
    float:right;
    text-align:right;
    margin-right: 0;
    margin-bottom: -12px;
}

.CVdateYellow {
    font-size: 12px;
    color:#58595B;
    text-align: right;
    margin-bottom: -12px;
}

.CVsubtitleYellow {
    font-size: 12px;
    color:#77787B;
    text-align: right;
    text-align: right;
}

.btn-6,.btn-block {
    border:none;
    display:inline-block;
    outline:0;
    padding:6px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#fff;
    background-color:#7DB9DE;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.btn-none {
    width:100%;
    border:solid 1px;
    border-radius: 2px;
    display:inline-block;
    outline:0;
    padding:6px;
    vertical-align:middle;
    text-align: center;
    overflow:hidden;
    text-decoration:none;
    color:#7DB9DE;
    background-color: transparent;
    text-align:center;
}

.btn-none:hover {
    border:none;
    color:#333132;
    background-color: #FFE533;
    cursor:pointer;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.1),0 3px 10px 0 rgba(0,0,0,0.1);
}

.btn-none-active {
    width:100%;
    border:solid 1px;
    border-radius: 2px;
    display:inline-block;
    outline:0;
    padding:6px;
    vertical-align:middle;
    text-align: center;
    overflow:hidden;
    text-decoration:none;
    color:#FFE533;
    background-color:  transparent;
}

.blog {
    max-width: 1200px;
	width:100%; 
	height: calc(100% - 80px); 
	margin:auto;
	position:absolute;	
	overflow: scroll;
    scrollbar-3dlight-color:gold;
    scrollbar-arrow-color:blue;
    scrollbar-base-color:;
    scrollbar-darkshadow-color:blue;
    scrollbar-face-color:;
    scrollbar-highlight-color:;
    scrollbar-shadow-color:;
}

.picBlock {
    padding-right: 8px;
    margin-bottom: 8px;
}

.roundImg {
    width:65px;
    height: 65px;
    border-radius: 50%;
    opacity:0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    position: absolute;
    z-index: -1;
}

.scrollImg {
    position: relative; 
    height: 65px; 
}

.shadowText {
    text-shadow: 1px 1px #66666666;   
}