@charset "utf-8";
/* CSS Document */

div{

 	background-image: url('NZmap.svg');
 	background-size:  100% 100%;
	background-repeat:no-repeat;

}

.circle{
	
 	background-image: url('circle.svg');
 	background-size:  100% 100%;
	background-repeat:no-repeat;

}

p{
	background-image:url(texture.png);
	-webkit-transition: background-color 2s ease-in;
	width:100%; 
	height:50px; 
}