/*phone below639*/
@media screen and (max-width:639px) {
    h2{ font-size: 14pt; }
    
   .top-img {
        width:calc(100vw - (100vh * 0.075)); 
        height:calc(100vh * 0.9); 
        margin-top: calc(100vh * 0.1); 
        overflow: hidden;
    }

    .top-img{
        margin-left: calc((100vh * 0.075));
    }
    
    .logo {
        height:40px;
        width:auto;
        top:10px;
        right:10px;
        background-color: rgba(255,255,255,0.0);
    }
        
    .mylife{
        margin-left: calc((100vh * 0.15));
    }
    
    .dotarea {
        width:auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        object-position: center;
    }

    .ul-left, .ul-right{
        width:90%;
        padding:25px 0 0 0;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    
    .ul-right{ 
        border-top:3px solid #563F2E;
    }
    
    .title{
            font-size:14px;
    }
    .subtitle{
            font-size:20px;
    }
    
    .longImg{
        width:calc(100vw * 0.6);
        height:calc(100vw * 0.5);
        margin-left: calc((100vh * 0.075));
        margin-top: calc(100vw * 0.2);
        object-fit: cover;
        
    }
    
    .yellowback{
        width:inherit;
        height:auto;
        margin-top: calc(100vw * 0.4);
    }
    
    .description{        
        padding:calc(100vw * 0.4) 8% 15% 8%;
    }
    .l3s1{
        width:84%;
        margin:0 8%;
    }
    
    .ll2s1,.lr2s1{
        width:95%;
    }
    
}


/*pad 640-959*/
@media screen and (min-width:640px) and (max-width:959px) {
     h2{ font-size: 16pt; }
    .logo{
        width:100px;
        margin-top:35vh; 
        padding:0 20px;
    }  
    
    .mark {
        vertical-align: middle;
        margin-left: 140px;
    }
    
    .top-img {
        width:calc(100vw - 100px - (100vh * 0.11)); 
        margin-left: calc(110px + (100vh * 0.11));
        height:100vh; 
        overflow: hidden;
    }

    .mylife {
        margin-left: calc(110px + (100vh * 0.18));
    }
    
    .ul-right{
        padding:0 0 0 10%;
        border-left:3px solid #563F2E;
    }
    .ul-left{
        padding:0 3% 0 5%;
    }
    
    .title{
            font-size:12px;
    }
    .subtitle{
            font-size:16px;
    }
    
   .longImg{
        width:calc(100vw * 0.64);
        height:calc(100vw * 0.4);
        margin-left: 10%;
        margin-top: calc(100vw * 0.1);
        object-fit: cover;
        
    }
    
    .yellowback{
        width:100vw;
        height:auto;
        margin-top: calc(100vw * 0.25);
    }

    .description{        
        padding:calc(100vw * 0.3) 10% 15% 10%;
    }

    .l3s1{
        width:30%;

    }
    
    .ll2s1{
        width:45%;
    }
    .lr2s1{
        width:53%;
    }
    .menuBlock{
        width:95%;
    }

}


/* 960up */
@media screen and (min-width:960px){
    
    .logo{
        margin-top:35vh; 
        padding:0 30px;
    }  
    
    .mark {
        vertical-align: middle;
        margin-left: 240px;
    }

    .top-img {
        width:calc(100vw - 225px - (100vh * 0.17)); 
        margin-left: calc(225px + (100vh * 0.17));
        height:100vh; 
        overflow: hidden;
    }
    
    .mylife {
        margin-left: calc(225px + (100vh * 0.19));
    }
    
    .ul-left{      
        padding:0 3% 0 5%;
    }
    
    .ul-right{ 
        padding:0 0 0 10%;
        border-left:3px solid #563F2E;
    }
    
    .title{
            font-size:12px;
    }
    .subtitle{
            font-size:16px;
    }
    
    .longImg{
        width:45%;
        max-width:520px;
        height:calc(100vh * 0.4);
        margin-top:calc(100vh * 0.15);
        object-fit: cover;
        margin-left: 0;
    }

    .yellowback{
        width:70%;
        min-height: calc(100vh * 0.5);
        height:auto;
        margin-left:30%;
        margin-top:calc(100vh * 0.1);
    }
    
    .description{        
        padding:8% 10% 15% 30%;
    }
    
    .l3s1{
        width:30%;
    }
    
    .ll2s1{
        width:45%;
    }
    .lr2s1{
        width:53%;
    }
    
}

@media screen and (min-width:1200px){
    .floatingbutton{
        margin:0 calc((100vw - 1340px) / 2 ) 120px 0;
    }
}
