
.slash{position:absolute;}

.logohome{
    position:fixed;
    margin: -5px;    
    z-index: 100000;
}

#com1, #com2, #com3{
    display: none;
}

.toHomeLogo{
    width:70px;
    height: auto;
    background-color: rgba(255,255,255,0.6);
    border-radius: 35px;
}

.toHomeLogo:hover{
    background-color: rgba(33,30,85,0.6);
}


.hamburger {
    position:fixed;
    z-index: 100;
    margin-top: 45px;
}


.catalogue{
    padding:3px 70px;  
    background: rgb(250,250,250); 
    color:#D0104C; 
    margin-top: -60px; 
    z-index:10;
}

a.catalogue:hover{
    background: rgb(250,250,250); 
    color: #F596AA;
    cursor: pointer;
}

a.catalogue:active{
    background: rgba(33,30,85,0.6);
    color:white;
}


.closePopup{
    width: 100vw;
    height: calc(100vh - 20px);
    position: absolute;
}

.cataList{
    display: none; 
    position: fixed; 
    z-index: 1000;
}

.secondtitleCh{
    background-color: rgba(255,255,255,0.6);
    border-top: 1px solid #211E55;
    border-bottom: 1px solid #211E55;
}
.secondtitleEn{    
    background-color: rgba(33,30,85,0.6);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    z-index: 10;
}

.backImg{
    margin-bottom: 50px;
}
.subdiv{
    margin-left: 70px;
}

.divTitle:hover{
    color:#F596AA;
}

.divTitle:disabled:hover{
    color: #D0104C;
}

.divTitle:disabled:after{
    background-color:#D0104C;
    content: "";
    display:block;
    height: 2px;
    width:20%;   
    margin-left: 40%;
    margin-top: 2px;
}


.divTitle {
    display: inline-block;
    font-size:10pt;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #D0104C;
    padding:10px;

}

.rowTitle{
    position: relative;  
    width:100vw;
    padding: 30px 0;
    background: white; 
    text-align: center;
    overflow-x: auto;
}

.rowTitle span{
    display:inline-block; 
}

.headTitle{margin-left: 20px;}
.headTitle:before{
 background-color:#D0104C;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 1500%;
 right: 0.5em;
 margin-left: -1500%;
}

.slash{
    border-bottom: 1px solid #DDD23B;
    z-index:-1;
}

.projectdescription{
    position: absolute;
    z-index:10;
}

.mainDescriptionEn :before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-color:rgba(33,30,85,0.6);   
    transform: rotate(-20deg);
    /* Safari */
    -webkit-transform: rotate(-20deg);

    /* Firefox */
    -moz-transform: rotate(-20deg);

    /* IE */
    -ms-transform: rotate(-20deg);

    /* Opera */
    -o-transform: rotate(-20deg);
}

.mainDescriptionEn{
    background-color:rgba(33,30,85,0.6);   
    position:relative;
    overflow: hidden;
    color:white;
}

.mainDescriptionCh{
    background-color: rgba(255,255,255,0.6);
    border-top: 1px solid #211E55;
    border-bottom: 1px solid #211E55;
    }

.descriptionW{
    color: white;
    position: relative;
    z-index:10;
}

p.descriptionW, h2.descriptionW{
    color:white;
    margin:8px 0;
}

h6.descriptionB{
    color:#3A8FB7;
    margin:0;
}
.extMenu{
    max-width: 600px;
    margin:0;
    background-color: rgba(250,250,250,0.95); 
    position:absolute; 
    margin-top:45px; 
    margin-left: 38px; 
    box-shadow:5px 10px 18px #888888;
}

.extTitle{
    margin:8px;
    font-weight: 550;  
    font-size:12px;
}
.extSubtitle{
    padding-left: 30px;
    color: #C8C8C8;
    margin:0;
    font-size:14px;
}

.menuBlock{
    display: inline-block;
}


ul {
    vertical-align: top;
	list-style-type: none;
    display: inline-block;
	position: relative;
	margin-top:5px;
    margin-left: 10px;
}


.projectimg{
    width:100vw;
    height:50vw;
    margin-bottom:80px;
    background-size: cover;
    background-position: center;
}
