.slash {position:absolute;}

.logohome{
    position:fixed;
    margin: -5px;    
    z-index: 100000;
}


.toHomeLogo{
    position: relative;
    width:70px;
    height: auto;
    z-index: 100;
    background-color: rgba(255,255,255,0.6);
    border-radius: 35px;
}

.toHomeLogo:hover{
    background-color: rgba(221,210,59,0.6);
}


.hamburger {
    position:fixed;
    z-index: 10000;
    margin-top: 45px;
}


.catalogue{
    padding:3px 70px;  
    background: rgb(250,250,250); 
    color:#3A8FB7; 
    margin-top: -60px; 
    z-index:10;
}

a.catalogue:hover{
    background: rgba(221,210,59,0.6);
    color: white;
    cursor: pointer;
}

a.catalogue:active{
    color:#211E55;
}

.catalogue:hover{
    background: rgba(221,210,59,0.6); 
}

.closePopup{
    width: 100vw;
    height: calc(100vh - 20px);
    position: absolute;
}

.subdiv{
    margin-left: 70px;

}

h1.mainDescription {   
    text-align: center;
    font-size:12pt;
    position: relative;


}

.slash{
    border-bottom: 1px solid #DDD23B;
    z-index:-1;
}
.descriptionW{
    color: white;
    position: relative;
    z-index:10;
}

p.descriptionW, h2.descriptionW{
    color:white;
    margin:8px 0;
}

h6.descriptionY{
    color:#DDD23B;
    margin:0;
}
.extMenu{
    max-width: 600px;
    margin:0;
    background-color: rgba(250,250,250,0.95); 
    position:absolute; 
    margin-top:45px; 
    margin-left: 38px; 
    box-shadow:5px 10px 18px #888888;
}

.extTitle{
    margin:8px;
    font-weight: 550;  
    font-size:12px;
}
.extSubtitle{
    padding-left: 30px;
    color: #C8C8C8;
    margin:0;
    font-size:14px;
}

.menuBlock{
    display: inline-block;
}


ul {
    vertical-align: top;
	list-style-type: none;
    display: inline-block;
	position: relative;
	margin-top:5px;
    margin-left: 10px;
}


h1:before{
    content:"";
    display:block;
    width:40%;
    height: 1px;
    background:black;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


.projectimg{
    width:100vw;
    height:50vw;
    margin-bottom:80px;
    background-size: cover;
    background-position: center;
}
