/*phone below639*/
@media screen and (max-width:639px) {

    
    h2.descriptionW{
        font-size: 14pt;
    }
    
    .projectdescription{          
        margin:10% 0 0 0;
        padding: 10px 25px 10px 70px;
    }
    
    p.mainDescriptionEn, p.mainDescriptionCh {
        padding:20px 10%;

        }

    .secondtitleEn, .secondtitleCh {
        position:relative;
        transform-origin: 60%;
        width:80%;
        padding:100px 65px;
    }

    .backImg{
        float:right;
        width:80%;
        margin-top: -120px;
    }
    
    .slash {
       width:calc(100vw - 70px);
       -webkit-transform:rotate(-5deg); 
       height:1px;
        margin-top: -5px;
    }

    .projectvolume{
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain; 
        -o-background-size: contain;
    }

}

/*pad 640-959*/
@media screen and (min-width:640px) and (max-width:959px) {
    .extMenu{
        width:75%;
    }
    p.descriptionW{
        font-size: 11pt;
    }
    h2.descriptionW{
        font-size: 15pt;
    }
    .projectdescription{        
        margin:20% 0 0 0;
        padding: 10px 10px 10px 10%;
    }
    p.mainDescriptionEn {
        padding:50px 20% 50px 30px;

    }

    p.mainDescriptionCh {
        padding:50px 30px 50px 20%;

    }

    .secondtitleEn, .secondtitleCh {
        position:relative;
        transform-origin: 75%;
        width:70%;
        font-size:11pt;
        padding:100px 80px;
    }

    .backImg{
        margin-left: 30%;
        width:70%;
        margin-top: -100px;
    }
    
    .slash {
       width: 80%;
       -webkit-transform:rotate(-30deg); 
       margin-left: 5%; 
       margin-top: 0;
    }
    
    .projectvolume{
        background-size: 80% auto;
        -webkit-background-size: 80% auto;
        -moz-background-size: 80% auto; 
        -o-background-size: 80% auto;
        background-position: 80% 50%;
    }

}

/* 960up */
@media screen and (min-width:960px){
    .extMenu{
        width:60%;
    }
    p.descriptionW{
        font-size: 12pt;
    }
    .projectdescription{        
        margin:23% 0 0 0;
        padding:20px 20px 20px 20%;
    }
    p.mainDescriptionEn {
        padding:50px 40% 50px 30px;

    }

    p.mainDescriptionCh {
        padding:50px 30px 50px 40%;

    }
        
    .secondtitleEn, .secondtitleCh {
        position:relative;
        width:60%;
        transform-origin: 75%;
        max-width:720px;
        padding:100px 80px;
        margin-left: 5px;
    }

    .backImg{
        margin-left: 40%;
        width:60%;
        max-width: 720px;
        margin-top:-160px;
    }

    .slash {
       width: 60%;
       -webkit-transform:
       rotate(-45deg); 
       margin-left: 20%; 
       margin-top: -10px;
    }
    
    .projectvolume{
        background-size: 70% auto;
        -webkit-background-size: 70% auto;
        -moz-background-size: 70% auto; 
        -o-background-size: 70% auto;
        background-position: 90% 50%;
    }

}