html{box-sizing:border-box; width:inherit; height:100%; overflow-y: scroll; -ms-overflow-style: none;-ms-overflow-style: none;}
body{ width:inherit; height:100%; margin:0; overflow-y: scroll; -ms-overflow-style: none; background-color: rgba(255,255,255,0.8);
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
    
}

* {
  box-sizing: border-box;
}

/* Set a background color */



/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width:inherit;
  max-width: inherit;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.vline {
    width: 1px;
    height:inherit;
    position:absolute;
    background-color: #563F2E;
    left: 50%;
}


/* Container around content */
.container {
  padding:10px 20px 0 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  right: -4px;
  background-color:#F596AA;
  border: 1px solid #D0104C;
  top: 28px;
  border-radius: 50%;
  z-index: 1;
}

/*reverse side*/
.containerR {
    top:-58px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containerR::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  right: -3px;
  background-color:#F596AA;
  border: 1px solid #D0104C;
  top: 28px;
  border-radius: 50%;
  z-index: 1;
}


/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 27px;
  width: 0;
  z-index: 1;
  right: 15px;
  border: medium solid rgba(33,30,85,0.6);
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgba(33,30,85,0.6);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 27px;
  width: 0;
  z-index: 1;
  left: 15px;
  border: 1px solid #C8C8C8;
  border-width: 5px 5px 5px 0;
  border-color: transparent #C8C8C8 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left:-4px;
}

/* The actual content */
.content {
  padding: 10px 10px;
  position: relative;
  border-radius: 5px;
}



/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .vline {
    left: 30px;
  }

/* Full-width containers */
  .container,  .containerR{
    width: 100%;
    padding: 5px 25px 5px 50px;
    top: 0;
    margin-bottom: 0;
    
  }
 
/* Make sure that all arrows are pointing leftwards */
  .right::before{
    left: 45px;
    border: medium solid #DDD23B;
    border-width: 5px 5px 5px 0;
    border-color: transparent #DDD23B transparent transparent;  
  }
      
.left::before{
    left: 45px;
    border: medium solid rgba(33,30,85,0.6);
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba(33,30,85,0.6) transparent transparent;
    }
/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 27px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.CVtitleBlue {
    color:white;
    float:left;
    margin-right: 0;
    margin-bottom: -12px;
}

.CVdateBlue {
    font-size: 12px;
    color:#C8C8C8;
    margin-bottom: -12px;
}
.CVsubtitleBlue {
    font-size: 12px;
    color:#E6E7E8;
}

.CVtitleYellow {
    float:right;
    text-align:right;
    margin-right: 0;
    margin-bottom: -12px;
}

.CVdateYellow {
    font-size: 12px;
    color:#DDD23B;
    text-align: right;
    margin-bottom: -12px;
}

.CVsubtitleYellow {
    font-size: 12px;
    color:#58595B;
    text-align: right;
    text-align: right;
}

.blue-back {
    white-space: normal;
    color:#fff;
    background-color:rgba(33,30,85,0.6);  
}

.yellow-back {
    white-space: normal;
    color:#333132;
    background-color:white;
    border: solid 1px #C8C8C8;
    
}

.col {

    float:left;
    width:100%;
}

div::after {
    content:"";
    display:table;
    clear:both;
}

