html {
    min-width: 320px; 
    min-height: 320px;  
    width:100vw; 
    background-color:rgb(250,250,250);
}

body{
    margin:0;
    overflow-x: hidden;  
    width:100%;
    height:100%; 
}

p, a, h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto','Noto Sans HK', 'Arial', sans-serif;
    text-align: justify;
    text-justify:inter-word;
    line-height: 2;
    letter-spacing: 0.2em;
}

h1{ color:#211E55;
    width:fit-content;
    text-align: center;
    padding:40px 40px 30px 40px;
    max-width: 70vw;
    margin: 0 auto;
    font-size: 16pt;
    font-weight: 500;
 }

h1::before{
    content: '';
    position: absolute;
    background: #211E55;
    width: 40px;
    height:1px;
    transform: rotate(135deg);
    margin: -15px -55px;
    
}

h1::after{ 
    content: '';
    position: absolute;
    background: #211E55;
    width: 40px;
    height: 1px;
    transform: rotate(135deg);
    margin: 45px 15px;
    
}

h2{ color: darkcyan;
    font-size: 13pt;
    font-weight: 500;}

h3{ color: darkcyan;
    font-size: 11pt;
    font-weight: 300;
    text-align: center;
}

h4{ color: #211E55;
    font-size: 11pt;
    font-weight: 500;    
    padding-left: 10px;
    border-left:3px solid #211E55;
}


h5{ color:#464E7E;
    font-size: 11pt;
    font-weight: 300;
    margin: 30px;
    padding: 10px;
    border-radius:5px;
    border-left: 3px solid #464E7E;
    text-align: center;
}

h6{ color: #c0c0c0;
    font-size: 10pt;
    font-weight: 300;
    text-align: center;
    margin:10px;}


p{  color: #333333;
    font-size: 11pt;
    font-weight: 300;
    background: white;
    margin:0 auto;
    padding: 20px 40px;
}

figure{
    width: fit-content;
    margin: 20px auto;
    align-content: center;
}

figcaption{
    color: #aaa;
    font-size: 10pt;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}



a { text-decoration: none;
    color:#D0104C;
}

a:hover {
    color:#F596AA;
}

hr {border:none;
    border-top: 1px solid #211E55;}

hr.divider{border:none;
    border-top: 1px solid #c0c0c0;
    margin: 30px 0;}

div.content {margin:20px 8vw;}

.inmiddle{
    width:100;
    margin:auto;
    text-align: center;
    overflow-x:hidden;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

.wide100 {
    width:100%;
    height: auto;
}

.wide90 {
    width:90%;
    height: auto;
    display: block;
    padding: 0 5%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(245,245,245);
}


/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0,0,0,0.1);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius:4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(33,30,85,0.6);
  border-radius:4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F596AA;
}

/*phone below639*/
@media screen and (max-width:639px) {
    .wide50 {
        width:80%;
        height: auto;
        display: block;
        margin:0 auto;
        padding:0 10%;
        background: rgb(245,245,245);
    }
}

/*pad 640-959*/
@media screen and (min-width:640px) and (max-width:959px) {
    .wide50 {
        width:65%;
        height: auto;
        display: block;
        margin:0 auto;
        padding:0 17.5%;
        background: rgb(245,245,245);
    }
}

/* 960up */
@media screen and (min-width:960px){
    .wide50 {
        width:50%;
        height: auto;
        display: block;
        margin:0 auto;
        padding:0 25%;
        background: rgb(245,245,245);
    }
}